---
layout: default
---

{% include header.html %}

<div class="portfolio">
	<p>IT product manager and full stack developer, consultant and speaker. Developer of cryptofinance smart contracting and blockchain services.</p>
</div>

<!--
<div class="portfolio">
	<h1>Experience</h1>
	        <ul>
			{% for experience in site.data.experience %}
			<li>{{ experience.role }} @ <a href="{{ experience.url }}">{{ experience.company }}</a></li>
			{% endfor %}
		</ul>
</div>
-->

<br>

<div class="blog">
		<ul>
			{% for post in site.posts %}
			<li><span class="date">{{ post.date | date: '%Y %b %d' }}</span> | <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><br /><br /></li>
			{% endfor %}
		</ul>
</div>
