// COLORS
$color-fg: #002b36;
$color-bg: #FFFFFF;
$color-grey: #EEEEEE;
$color-link: #2aa198;
$color-code: #00FF00;
$color-p: #586e75;

// FONT
//$font-url: "https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic";
//$font-family: "'Ubuntu Mono', ";
$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

// BREAKPOINTS
$br: 600px;
